//fonts
$primary:rgb(76, 128, 241);
$font-light:#ffff;
$font-grey:rgba(238, 236, 236, 0.548);
$font-dark:rgba(14, 1, 1, 0.548);

//borders
$border-light:#fff;
$border-grey-ligth:#a7a7a7;
$border-grey:#444444;
//backgrounds
$background-primary:#FF5757;
$background-light:#ffff;
$border-grey-ligth:#eee;
$background-grey:#a7a7a7;
$background-dark-absolute:#000;
$success:#69af00;

